/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}
.bg-con {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 15px;
}
.big-image {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 35px;
}
.second-container {
  justify-content: flex-start;
}
span {
  margin-top: 10px;
  margin-bottom: 10px;
}
